{% trans_default_domain 'FOSUserBundle' %}

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">{{ user.username }}</h4></div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="col-sm-12"><p>First Name : {{ user.firstname }}</p></div>
                        <div class="col-sm-12"><p>Last Name : {{ user.lastname }}</p></div>
                        <div class="col-sm-12"><p><p>Birth : {{ user.birth|date("d/m/Y") }}</p></div>
                        <div class="col-sm-12"><p>Phone number : {{ user.phone }}</p></div>
                        <div class="col-sm-12"><p>E-mail: {{ user.email }}</p></div>
                        <div class="col-sm-12"><p>Country : {{ user.location }}</p></div>
                        <div class="col-sm-12"><p>Presentation : {{ user.bio }}</p></div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button data-toggle="modal" data-target="#edit_profile" type="button" class="btn btn-primary" data-dismiss="modal">Edit</button></div>

        </div>
    </div>
