{% extends "HugoPlatformBundle::layout.html.twig" %}

{% block hugoplatform_body %}
<div class="container">
  <div class="prez">
    <h2 class="titre"><em>M</em>anage <em>Y</em>our <em>C</em>ontent's <em>W</em>ebsite</h2>
    <p class='text'>Find all the savies that has been added by the SaveYourself community. They're sorted per cateory so you can surf more easily. You can also add yours</p>
  </div>
  <br>

        <div class="col-xs-2"></div>
        <div class="container col-xs-4">
           <h1>Users</h1>
             <ul>
              {% for user in users %}
                {{ user.username }},&nbsp;
              {% endfor %}
            </ul>
        </div>
        <div class="container col-xs-4">
           <h1>Savies</h1>
           <ul>
              {% for advert in listAdverts %}
                <li>
                  <a href="{{ path('hugo_platform_view', {'slug': advert.slug}) }}">
                    {{ advert.title }}
                  </a>
                  by <a href="{{ path('fos_user_profile_show_name', {'username': advert.author}) }}">
                     {{ advert.author }}</a>,
                  the {{ advert.date|date('d/m/Y') }}
                  {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('hugo_platform_edit', {'slug': advert.slug}) }}">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="{{ path('hugo_platform_delete', {'slug': advert.slug}) }}">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                {% endif %}
                </li>
              {% else %}
                <li>No savies (yet!)</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-xs-2"></div>
<!--Objet par catégories -->
        <div class='col-xs-12 admin_list'>
          <h1>Object Manager</h1>
          <div class='col-xs-2'></div>

          <div class='col-xs-2'>
            <h3>Survival</h3>
              <ul>
                {% for object in listObjectsSurvival %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added (yet!)</li>
                {% endfor %}
              </ul>
          </div>

          <div class='col-xs-2'>
              <h3>Handy</h3>
                <ul>
                  {% for object in listObjectsHandy %}
                    <li>
                      <li><img
                  src="{{ asset(object.imageobj.webPath) }}"
                  alt="{{ object.imageobj.alt }}"
                  />
                        {{ object.name }}
                                  
                  <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                          <i class="glyphicon glyphicon-edit"></i>
                        </a>
                  <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                          <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </li>
                  {% else %}
                    <li>No Object added (yet!)</li>
                  {% endfor %}
                </ul>  
          </div>

          <div class='col-xs-2'>
            <h3>Decorative</h3>
              <ul>
                {% for object in listObjectsDecorative %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added (yet!)</li>
                {% endfor %}
              </ul>  
          </div>
          <div class='col-xs-2'>
            <h3>Health</h3>
              <ul>
                {% for object in listObjectsHealth %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added (yet!)</li>
                {% endfor %}
              </ul>
            </div>
            <div class='col-xs-2'></div>
        </div>

        <div class='col-xs-12 admin_list'>
          <div class='col-xs-2'></div>
          <div class='col-xs-2'>
            <h3>Technology</h3>
              <ul>
                {% for object in listObjectsTechnology %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added (yet!)</li>
                {% endfor %}
              </ul>
          </div>
          <div class='col-xs-2'>
            <h3>Travel</h3>
              <ul>
                {% for object in listObjectsTravel %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added (yet!)</li>
                {% endfor %}
              </ul>  
          </div>
          <div class='col-xs-2'>
            <h3>Gardening</h3>
              <ul>
                {% for object in listObjectsGardening %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added (yet!)</li>
                {% endfor %}
              </ul>  
          </div>
          <div class='col-xs-2'>
            <h3>Materials</h3>
              <ul>
                {% for object in listObjectsMaterials %}
                  <li>
                    <li><img
                src="{{ asset(object.imageobj.webPath) }}"
                alt="{{ object.imageobj.alt }}"
                />
                      {{ object.name }}
                                
                <a href="{{ path('hugo_platform_admin_edit', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                      </a>
                <a href="{{ path('hugo_platform_admin_delete', {'id': object.id}) }}">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                  </li>
                {% else %}
                  <li>No Object added(yet!)</li>
                {% endfor %}
              </ul>  
            </div>
            <div class='col-xs-2'></div>
        </div>

      </div>










      <div>
        <h1>Add an object</h1>
        <div style="border-radius:0" class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          {# Les erreurs générales du formulaire. #}
          {{ form_errors(form) }}
          <div class="form-group">
            {{ form_label(form.name, "Name of object", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.name) }}
            <div class="col-sm-4">
              {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            {{ form_label(form.imageobj, "Picture", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.imageobj) }}
            <div class="col-sm-4">
              {{ form_widget(form.imageobj, {'attr': {'class': ''}}) }}
            </div>
          </div>


          <div class="form-group">
            {{ form_label(form.categories, "Categories", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.categories) }}
            <div class="col-sm-6">
              {{ form_widget(form.categories, {'attr': {'class': ''}}) }}
            </div>
          </div>

          {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

          {{ form_rest(form) }}
          {{ form_end(form) }}
        </div>


      </div>


{% endblock %}