{% extends "HugoPlatformBundle::layout.html.twig" %}

{% block title %}
  Delete a Savy - {{ parent() }}
{% endblock %}

{% block hugoplatform_body %}

  <h2>Delete a savy</h2>

  <p>
    Are you sure that you want to delete this savy : "{{ advert.title }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('hugo_platform_delete', {'slug': advert.slug}) }}" method="post">
    <a href="{{ path('hugo_platform_view', {'slug': advert.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Return to All Savies
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}